
#controlPanel {
	position: absolute;
}

button {
	width: 160px;
	height: 60px;
	font-family: "Comic Sans MS";
	cursor: pointer;
}


#helloWorld {
	color: yellow;
	font-family: "Comic Sans MS";
	font-size: 60px;
	position: absolute;
	top: 240px;
	left: 300px;
	
}

#turnRed {
	color: red;
}

#turnBlue {
	color: blue;
}

#turnGreen {
	color: green;
}
